@media screen and (max-width: 960px) {
  .conteneur {
    flex-direction: column;
  }
}
.background {
  background-color: red;
}
.titre {
color: white;
  font-size: 60px;text-align: center;
}
.organisation {
  display: flex;
}
.texte {
  font-size: 39px;
  color: white;
  font-family: Arial;
  padding-left: 80px;
}
.lien {
  font-size: 60px;
}
.image {
  height:115px;margin:auto;
}
