 @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

.background {
  background-color: red;
    font-family: 'Bacasime Antique', serif;
}

.titre {
color: white;
  font-size: 150px;
  text-align: center;
}

.organisation {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (min-width: 600px) {
  .organisation {
  }
}



.texte {
  color: white;
  padding-left: 80px;
@media screen and (min-width: 900px) {
 font-size: 50px;
}
}

.lien {
    @media screen and (min-width: 900px) {
  overflow-wrap: break-word;
        font-size: 60px;
    }
}

.image {
  height:115px;
  margin:auto;
}

.conteneur {
  display:flex;
  justify-content:center;
}

.conteneur_image {
   margin: auto;
  margin-top: 30px
}


.paragraphe {
 font-size: 30px;
}

.flex {
 flex-direction: column;
 @media screen and (min-width: 600px) {
  flex-direction: row;
}

}










