@media screen and (max-width: 960px) {
  .conteneur {
    flex-direction: column;
  }
}
.background {
  background-color: red;
}
.titre {
color: white;
  font-size: 60px;text-align: center;
}
.organisation {
  display: flex;
}


